
@import 'https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;1,100;1,400&family=Roboto:wght@500;700;900&display=swap';

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: white;
    font-family: 'Roboto',sans-serif;
}

/*..... Header .....*/

header{
    align-items: center;
    background-color: white;
    display: flex;
    height: 7em;
    overflow: hidden;
}

#logocontainer{
    width: 50%;
}

#menu{
    padding-left: 50px;
}

#menu li{
    display: inline;
    margin-left: 70px;
}

#logo{
    background: url("../images/gar-denlogo1.webp") no-repeat center;
    background-size: contain;
    float: left;
    height: 250px;
    margin: 10px 0 0 30px;
    object-fit: contain;
    width: 40%;
}

#menu a{
    border: 1px solid rgb(230, 32, 65);
    color: #184E20;
    cursor: pointer;
    font-size: 140%;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    text-decoration: none;
}

 #menu a.active{
    border-bottom: 1px solid #184E20;
    background-color: rgb(230, 32, 65);
    color: white;
    font-weight: 900;
 }


 /*..... Brand Caption and Hero Slides Images .....*/
 
 /*. Hero Slides .*/

 #image-cont{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
    object-fit: contain;
}

#slide1{
    background-image: url("../images/slide01.webp");
}
#slide2{
    background-image: url("../images/manwork.webp");
}
#slide3{
    background-image: url("../images/summerpark-2.webp");
}
#slide4{
    background-image: url("../images/naturefeel.webp");
}

#image-cont #slides > div {
    animation: animate 20s infinite;
    background-position: center center;
    background-size: cover;
    height: 100%;
    opacity: 0;
    object-fit: contain;
    position: absolute;
    -webkit-background-size: cover;
    width: 100%;
}

/** Animation from https://youtu.be/FrQR7igd9bs with my modification **/

#image-cont #slides > div:nth-child(2){
    animation-delay: 5s;
}
#image-cont #slides > div:nth-child(3){
    animation-delay: 10s;
}
#image-cont #slides > div:nth-child(4){
    animation-delay: 15s;
}

@keyframes animate {
    10%{
        opacity: 0.7;
    }
    20%{
        opacity: 0.7;
    }
    30%{
        opacity: 0;
    }
    40%{
        transform: scale(1.2);
    }
    
}

/*. Cover text .*/

#brandCall{
    background-color: #184E20;
    border-radius: 40%;
    bottom: 30px;
    color: white;
    font-size: 160%;
    font-family: 'Roboto', sans-serif;
    height: 260px;
    letter-spacing: 4px;
    opacity: 0.9;
    padding: 40px 5px 0 5px;
    position: absolute;
    right: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 400px;   
}


#brandCall #quote{
    background-color: rgb(230, 32, 65);
    color: white;
    font-weight: 900;
    font-size: 50%;
    height: 50px;
    letter-spacing: 1px;
    padding: 5px;
    text-decoration: none;
    width: 20%;
}

#brandCall #quote:hover{
    background-color: white;
    color: rgb(230, 32, 65);
}

/*............. Service Section ............*/

#contentbox{
    font-size: 120%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    width: 100%; 
}

#subheader{
    color: #184E20;
    margin: 25px;
}

#contentbox #statedlist .content1 #image1{
    background-image: url("../images/bed.webp");
}
#contentbox #statedlist .content1 #image2{
    background-image: url("../images/mulch.webp");
}
#contentbox #statedlist .content1 #image3{
    background-image: url("../images/gallery4.webp");
}
#contentbox #statedlist .content1 .image{
    background-size: cover;
    background-position: center;
    height: 180px;
    object-fit: contain;
    width: 100%;
}

#statedlist{
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.content1{
    border: 2px solid #184E20;
    color: #184E20;
    font-family: 'Archivo',sans-serif;
    height: 380px;
    margin: 10px;
    text-align: center; 
    width: 100%;
}

.content1 > p{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.content1 a,
#moreservice a,
#salecontact,
.getservice{
    border-radius: 10px;
    color: rgb(230, 32, 65);
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    margin-top: 5px;
    text-decoration: none;
}

.content1 a:hover{
    background-color: rgb(230, 32, 65);
    color: white;
}

#moreservice{
    padding: 20px;
    height: 50px;
    width: 100%;
    text-align: center;
}

.subject{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 20px;
    
}

/*............. Blog section .............. */

#blog{
    background-color: #184E20;
    font-size: 130%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#blogheader{
    color: white;
    margin: 25px;
    padding-top: 5px;
}

#blogcontent{
    display: flex;
    height: 380px;
    margin: 0 auto;
    width: 90%;
}

.bloghighlight{
    background-color: white;
    color: #184E20;
    height: 380px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#blogImage1{
    background-image: url("../images/justgarden.webp");
}
#blogImage2{
    background-image: url("../images/watering.webp");
}
#blogImage3{
    background-image: url("../images/madeup.webp");
}

.blogImage{
    background-size: cover;
    background-position: center;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
    width: 100%;
}

.bloghighlight h4{
    margin: 4px;
}

.readmore{
    background-color: rgb(230, 32, 65);
    border-radius: 10px;
    color: white;
    display: block;
    font-weight: bold;
    height: 24px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 20%;
}

.readmore:hover{
    background-color: white;
    border: 1px solid  rgb(230, 32, 65);
    color: rgb(230, 32, 65); 
}

/*.............. Contact .................*/

#contact{
    background-color: white;
    color: #184E20;
    height: 150px;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

#subsubject{
    color: #184E20;
    font-size: 40px;
    margin-bottom: 5px;
}


#subject{
    font-size: 110%;
    width: 40%;
    padding: 10px;
    margin-left: 20px;
}

#subject > p{
    font-family: 'Archivo', sans-serif;
}

aside{
    background-color:white ;
    border: 3px solid #184E20;
    color: #184E20;
    height: 150px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    width: 350px;
}
aside > h4{
    font-size: 130%;
    font-weight: 900;
}

.fa-phone, .fa-message{
    color: rgb(230, 32, 65);
    font-size: xx-large;
    margin: 20px 0 5px 0;
}

#contact1{
    float: left;
    margin-left: 270px;
}

#contact2{
    float: right;
    margin-right: 270px;
}


/*.................  Map Section ...............*/
#mapspace{
    width: 100%;
}
#map{
    width: 100%;
    height: 250px;
}


/*............ Footer ...........*/

footer{ 
    background-color: white;
    color: #184E20;
    height: 50px;
    padding: 15px 0 15px 0;
    text-align: center;
    width: 100%;  
}

footer label{
    font-family: Archivo, sans-serif;
    font-size: larger;
    font-weight: 600;
}

footer #subscribe{
    border: 2px solid #184E20;
    border-radius: 10px;
    font-size: larger;
    margin: 5px 0 5px 0;
    padding: 10px;
    width: 20%; 
}

footer #subscribebtn{
    background-color: rgb(230, 32, 65);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    width: 10%;
}

footer #subscribebtn:hover{
    background-color: white;
    border: 1px solid  rgb(230, 32, 65);
    color: rgb(230, 32, 65);
}

footer #sociallinks{
    text-align: center;
}

#sociallinks > li{
    display: inline;
}

#sociallinks i{
    color: #184E20;
    font-size: 200%;
    margin: 2%;
    text-align: center; 
 }

 #copyright{
    font-size: larger;
    margin-bottom: 10px;
 }

 #copyright i{
    font-size: small;
    display: block;
    margin: 0 2px 2px 2px;
 }

  /*......... Services Page .........*/
#services{
    color: #184E20;
    font-family: 'Archivo',sans-serif;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

#servicehead{
    background-color: #184E20;
    color: white;
    margin: 10px;
}

#servicehead h2{
    color: rgb(230, 32, 65);
    font-weight: 900;
    letter-spacing: 4px;
    margin: 10px;
}

#servicehead p{
    font-size: 130%;
    line-height: 25px;
}

#maincontent{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%; 
}

#maincontent .servicelist{
    align-content: center;
    color: #184E20;
    display: flex;
    height: 200px;
    margin: 20px 0 10px 0;
    text-align: center;
    width: 50%;
}

#maincontent .servicelist .bedContent{
    float: right;
    margin-top: 0;
    width: 50%;
}

#maincontent .servicelist div > h3{
    margin: 20px;
}

#maincontent .servicelist #serImage1{
    background-image: url("../images/bed.webp");
}
#maincontent .servicelist #serImage2{
    background-image: url("../images/mulch.webp");
}
#maincontent .servicelist #serImage3{
    background-image: url("../images/slide3.webp");
}
#maincontent .servicelist #serImage4{
    background-image: url("../images/gallery4.webp");
}
#maincontent .servicelist #serImage5{
    background-image: url("../images/sed1.webp");
}
#maincontent .servicelist #serImage6{
    background-image: url("../images/sales1.webp");
}

#maincontent .servicelist .servicePic{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    object-fit: contain;
    width: 50%;
}

#maincontent .servicelist div > p{
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

/*......... Form..........*/

#form-section,
#thanks-section {
    align-items: center;
    background-image: url("../images/slide11.webp"); 
    background-size: cover;
    background-position: center; 
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 800px;
    justify-content: center;
    margin: 0 auto;
    width: 95%;    
}

#contact-form,
#thank-you {
    background-color: #184E20;
    color: white;
    height: 80%;
    opacity: 0.8;
    padding: 20px;
    width: 45%;  
}

#contact-form > h2 {
    color: white;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    border: 1px solid white;
    border-radius: 2px;
    display: block;
    font-family: 'Archivo', sans-serif;
    font-size: 120%;
    height: 35px;
    margin: 5px 0 20px 0;
    padding: 2px;
    width: 80%;
}

.text-input:hover {
    border-color: #184E20;
}

div{
    margin: 10px 0 10px 0; 
}
ul{
    list-style: none;
}
li {
    display: inline-block;
    font-family: 'Archivo',sans-serif;
    font-size: 100%;
    width: 150px;
    padding-top: 10px;
}

#message{
    border: 1px solid white;
    border-radius: 2px;
    display: block;
    font-size: 120%;
    margin: 5px 0 0 0;
    padding: 2px;
    width: 80%;
}

input[type="submit"] {
    background-color: rgb(230, 32, 65);
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    display: block;
    font-size: 120%;
    font-weight: 900;
    margin-top: 5px;
    padding: 5px 12px 5px 12px;
    text-align: center;    
}

input[type="submit"]:hover {
    background-color: white;
    color: rgb(230, 32, 65);
    font-weight: 900;
}

/*______________ Thank You Page ______________*/

#thanks-section{
    height: 400px;
}

#thank-you{
    font-size: 150%;
    height: 90%;
    padding: 2px;
    text-align: center;
    width: 30%;
}

#thanks,
#assure{
    margin-bottom: 40px;
}

#back{
    margin: 0 auto;
}



/*------------- Responsiveness on SMALLER Screens----------------- */

/*____________ Screens Max-Width 1200px ___________*/

@media screen and (max-width: 1200px) {
    #menu{
        padding-left: 0;
    }

    #menu li{
        margin-left: 50px;
    }
    .content1 > p{
        margin: 0 1px 0 1px;
    }
    #blogcontent{
        height: 450px;
        margin: 0 auto;
        width: 95%;
    } 
    #maincontent .servicelist div > p{
        margin: 10px;
    }
}

/*____________ Screens Max-Width 800px ___________*/

@media screen and (max-width: 800px) {

    #logocontainer{
        margin-top: 0;
        width: 40%;
    }

    #logo{
        width: 50%;
    }
        
    #menu li{
        margin-left: 10px;
    }

    #contentbox{
        height: 100%;
    }

    #statedlist{
        flex-direction: column;
        gap: 10px;
        height: 100%;
        width: 80%;
    }

    .content1{
        margin: 0 auto;
        width: 60%; 
    }

    .content1 p{
        margin-bottom: 10px;
    }
    
    #blog{
        height: 100%;
    }

    #blogcontent{
        flex-direction: column;
        height: 100%;
    }
        
    .bloghighlight{
        display: flex;
        height: 250px;
        width: 95%;
    }

    .blogImage{
        height: 250px;
        margin-bottom: 0;
        width: 50%;
    }
    
    
    .bloghighlight > div{
        padding: 65px;
    }

    .readmore{
        width: 30%;
    }

    #maincontent .servicelist div > h3{
        margin: 10px;
    }
    
    #contact-form {
        height: 80%;
        width: 70%;
    }
    
    footer #actioncall form #subscribe{
        width: 30%;
    }

    footer #actioncall form #subscribebtn{
        width: 12%;
    }

    #thank-you{
        width: 50%;
    }

}

    /*____________ Screens Max-Width 500px ___________*/

    @media screen and (max-width:500px){

        header{
            flex-direction: column;
            height: 9.5em; 
        }

        #logocontainer{
            height: 120px;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        #logo{
            float: none;
            height: 170px;
            margin-top: 0;
            width: 70%;
        }

        #menu{
            margin-top: 0;
            padding-left: 0;
        }

        #menu li{
            margin-left: 7px;
        }  
        
        #menu a{
            font-size: 120%;
            padding: 3px;
        }
        
        #image-cont{
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 100%;
        }
        
        #brandCall{
            border-radius: 32%;
            font-size: 140%;
            height: 280px;
            left: 5px;
            margin-top: 180px;
            padding: 13px 10px 1px 12px;
            position: relative;
            right: 0;
            text-align: center;
            width: 300px;   
        }

        #brandCall #quote{
            width: 35%;
            height: 35px;
        }

        #statedlist{
            width: 100%;
        }

        .content1{
            font-size: 100%;
            height: 380px;
            width: 80%;
        }
       
        #contentbox #statedlist .content1 .image{
            background-repeat: no-repeat;
            height: 200px;
        }
        
        .content1 > p{
            font-size: 100%;
            margin: 0 3px 0 3px;
        }

        .subject{
            margin: 10px;
        }

        .content1 a{
            margin-top: 2px;
            right: 70px;
        }
        
        #blogcontent{
            width: 95%;
        }
        
        .bloghighlight{
            background-color: white;
            height: 200px;
        }

        .bloghighlight > div{
            padding: 0;
         }

        .blogImage{
            width: 80%;
            height: 200px;
            margin: 0;
        }

        .bloghighlight h3{
            font-size: 100%;
            margin: 3px;
        }

        .readmore{
            width: 60%;
            margin-top: 20px;
        }
    
        /*..... Services Page .....*/
    #maincontent{
        flex-direction: column;
    }

    #maincontent .servicelist{
        border: 2px solid #184E20;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 3px;
        width: 100%;
    }

    #maincontent .servicelist .bedContent{
        margin-top: 0;
        width: 100%;
    }
    
    #maincontent .servicelist .servicePic{
        width: 100%;
    }
          /* Form */
    
    #form-section{
        height: 850px ;
        width: 100%;
    }

    #contact-form {
        height: 95%;
        width: 75%;
    }

    .text-input{
        width: 95%;
    }

    table{
        margin: 10px 0 10px 0;
    }
    
    td{
        display: block;
        margin: 5px 0 5px 5px;
    }

    textarea{
        margin: 5px 0 5px 0;
        width: 95%;
    }

    input[type="submit"] {
        margin-top: 5px;
        padding: 10px 15px 10px 15px;
    }
    
        /* Contact */
    #contact{
        height: 170px;
        margin-top: 0;
        padding: 5px;
    }

    #subject{
        margin-left: 3px;
        padding: 0;
        width: 100%;
    }

    aside{
        width: 200px;
        margin-bottom: 10px;
    }

    #contact1{
        margin-top: 10px;
        margin-left: 100px;
    }
    #contact2{
        margin-right: 100px;
    }

    /* Footer */
    
    footer #actioncall form #subscribe{
        width: 60%;
    }

    footer #actioncall form #subscribebtn{
        width: 30%;
        padding: 8px;
    }
    #thank-you{
        font-size: 130%;
        width: 70%;
    } 
}
    

      