

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;1,100;1,400&family=Roboto:wght@500;700;900&display=swap');

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: white;
}


/*..... Header .....*/

header{
    align-items: center;
    background-color: white;
    display: flex;
    font-family: Roboto, sans-serif;
    height: 7em;
    overflow: hidden;
}

#logocontainer{
    width: 50%;
}

#menu{
    padding-left: 50px;
}

#menu li{
    display: inline;
    margin-left: 70px;
}

#logo{
    float: left;
    height: 250px;
    margin-left: 30px;
    width: 40%;
}

#menu a{
    border: 1px solid rgb(230, 32, 65);
    color: #184E20;
    cursor: pointer;
    font-size: 140%;
    font-family: Roboto, sans-serif;
    padding: 5px;
    text-decoration: none;
}

 #menu a.active{
    border-bottom: 1px solid #184E20;
    background-color: rgb(230, 32, 65);
    color: white;
    font-weight: 900;
 }